.todo-list-tasks
  &_task
    height: 32px
    background-color: $grey-eee
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    width: 100%
    margin-bottom: 8px
    padding: 8px 16px
    box-sizing: border-box

    &--description
      font-family: $font
      font-size: 16px
      color: $grey-606

    &--remove
      cursor: pointer
