.todo-list
  margin: 0 auto
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25)
  border-radius: 4px
  max-width: 400px
  padding: 24px
  box-sizing: border-box

  &-tasks
    box-sizing: border-box
    min-height: 280px

    &.-no-tasks
      background: $white-f2f
      border: 1px dashed $grey

    .no-tasks-disclaimer
      height: 280px
      width: 100%
      position: relative

      span
        position: absolute
        display: block
        font-family: $font
        font-size: 12px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: $grey-606